body {
	font: 0.75em / 1.5 Calibri;
	background: #28211c;
	color: #eee;
	margin: 2em;
}
.phunit-summary {
	background: #9c3;
	overflow: hidden;
	color: #28211c;
	text-shadow: 0 1px 2px rgba(0,0,0,0.25);
	margin: 2em;
}
.phunit-summary-fail { background: #f60; }
.phunit-summary dl {
	width: 33%;
	float: left;
}
.phunit-summary dt,
.phunit-summary dd {
	width: 50%;
	float: left;
	margin: 0;
}
.phunit-summary dt { text-align: right; }
.phunit-summary dd {
	font: 3em / 1.5 Georgia;
	text-align: left;
}
.phunit-results {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 60%;
}
.phunit-results li li {
	padding-left: 64px;
	background: url("pass.png") left top no-repeat;
	margin: 1em 0;
}
.phunit-results ul {
	list-style: none;
	padding: 0;
	margin-left: 1em;
}
.phunit-results li .phunit-fail {
	color: #f60;
	background-image: url("fail.png");
}
.phunit-results .message {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.5;
}
.phunit-results .testName { font-style: italic; }
.phunit-results .testMethod {
	font-size: 1.5em;
	line-height: 1;
}
.phunit-cases {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 40%;
	text-align: right;
}
.phunit-cases li { position: relative; }
.phunit-cases li a { color: #9c3; }
.phunit-cases .phunit-case-results {
	background: #9c3;
	color: #28211c;
	padding: 1em;
	width: 10em;
	border: 0.5em solid #28211c;
	position: absolute;
	top: -1em;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
	-moz-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
	-ms-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
	-o-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
	transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
	
}
.phunit-cases .phunit-case-results:after {
	border: 1em solid transparent;
	border-left-color: #9c3;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 0.5em;
	right: -2em;
}
.phunit-cases .phunit-case-results:before {
	border: 1.5em solid transparent;
	border-left-color: #28211c;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 0em;
	right: -3em;
}
.phunit-cases .phunit-fail .phunit-case-results:after { border-left-color: #f60; }
.phunit-cases .phunit-fail a { color: #f60; }
.phunit-cases .phunit-fail .phunit-case-results { background: #f60; }
.phunit-cases .phunit-case-results dl {
	margin: 0;
	text-align: center;
}
.phunit-cases .phunit-case-results dd {
	margin: 0 0 1em;
	font: 2em / 1.5 Georgia;
}
.phunit-cases li:hover .phunit-case-results {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}