body {
	font: 0.8125em / 1.5 "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
}

.pictures {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.pictures .picture {
	border: 8px solid #fff;
	background: #000;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
}

.products, .product-pictures {
	list-style: none;
	margin: 0;
	padding: 0;
}
.product {
	overflow: hidden;
}
.product .product-pictures {
	float: left;
	width: 25%;
}
.product .product-picture {
	border: 8px solid #fff;
	background: #000;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
}
.product .product-price {
	float: right;
	width: 25%;
}
.product .product-option {
	float: right;
	clear: right;
	width: 25%;
}
.product dt {
	width: 25%;
	float: left;
}
.product dd {
	width: 75%;
	float: left;
	margin: 0;
}
.product dd ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	display: none;
}

